# compiled output
/dist
/node_modules

# Tests
coverage/
coverage-e2e/

# git
.git/
.gitignore

# IDE - VSCode
.vscode/*
!.vscode/settings.json

.husky/

# prisma
/generated/prisma

*.log

# dotenv environment variable files
.env
.env.test
.env.production

# markdown files
README.md
TODO.md

# linters
biome.json
commitlint.config.js
.lintstagedrc.json
