NODE_ENV=<env>

PORT=<port>

CORS_ORIGIN=http://localhost:

POSTGRESQL_USERNAME=<user>
POSTGRESQL_PASSWORD=<senha>
POSTGRESQL_HOST=<host>
POSTGRESQL_PORT=<port>
POSTGRESQL_DATABASE=<db>

DATABASE_URL="postgresql://<user>:<senha>@<host>:<port>/<db>?schema=public"

JWT_SECRET=<segredo>
JWT_REFRESH_SECRET=<segredo>

JWT_ACCESS_TOKEN_EXPIRATION =<expiration>
JWT_REFRESH_TOKEN_EXPIRATION =<expiration>

REDIS_PORT=<port>;
REDIS_DB=<db>;
REDIS_HOST=<host>

